In [1]:
import pandas as pd

In [10]:
log = pd.read_csv('BM3-baby-Jul-16-2024-19-29-04.log', delimiter=' ')

In [8]:
log

,Tue 16 Jul 2024 19:29:05 INFO ██Server:,sanghui001
0,Tue 16 Jul 2024 19:29:05 INFO ██Dir:,/home/sh0408sh/workspace/MMRec/src
1,Tue 16 Jul 2024 19:29:05 INFO,NaN
2,gpu_id=0,NaN
3,use_gpu=True,NaN
4,seed=[999],NaN
...,...,...
6508,Tue 16 Jul 2024 21:37:44 INFO,NaN
6509,█████████████ BEST ████████████████,NaN
6510,Tue 16 Jul 2024 21:37:44 INFO,"Parameters: ['seed', 'n_layers', 'reg_weight',..."
6511,Valid: recall@5: 0.0340 recall@10: 0.0538 ...,NaN
6512,Test: recall@5: 0.0331 recall@10: 0.0547 ...,NaN